.desktop-1,
.desktop-1 * {
  box-sizing: border-box;
}
.desktop-1 {
  background: #ffffff;
  height: 10265px;
  position: relative;
  overflow: hidden;
}
.frame-5 {
  background: #000000;
  padding: 249px 616px 249px 616px;
  width: 2005px;
  height: 1100px;
  position: absolute;
  left: -17px;
}
.rectangle-44 {
  opacity: 0.1;
  width: 683px;
  height: 615px;
  position: absolute;
  left: 129px;
  top: 162px;
  object-fit: cover;
}
.rectangle-45 {
  opacity: 0.1;
  width: 1062px;
  height: 615px;
  position: absolute;
  left: 788px;
  top: 162px;
  object-fit: cover;
}
.rectangle-32 {
  width: 329px;
  height: 246px;
  position: absolute;
  left: 1154px;
  top: 674px;
  object-fit: cover;
}
.rectangle-31 {
  width: 1035px;
  height: 693px;
  position: absolute;
  left: 907px;
  top: 84px;
  object-fit: cover;
}
.rectangle-76 {
  background: #000000;
  width: 2050px;
  height: 1113px;
  position: absolute;
  left: -130px;
  top: 9152px;
}
.frame-4 {
  background: #000000;
  padding: 249px 616px 249px 616px;
  width: 2045px;
  height: 3800px;
  position: absolute;
  left: -83px;
  top: 1100px;
}
.rectangle-452 {
  opacity: 0.35;
  width: 316px;
  height: 695px;
  position: absolute;
  left: 881px;
  top: 332px;
  object-fit: cover;
}
.rectangle-43 {
  opacity: 0.35;
  width: 480px;
  height: 672px;
  position: absolute;
  left: 1486px;
  top: 350px;
  object-fit: cover;
}
.rectangle-41 {
  opacity: 0.35;
  width: 370px;
  height: 603px;
  position: absolute;
  left: 1190px;
  top: 389px;
  object-fit: cover;
}
.rectangle-54 {
  width: 378px;
  height: 616px;
  position: absolute;
  left: 1521px;
  top: 2878px;
  object-fit: cover;
}
.rectangle-38 {
  opacity: 0.17;
  width: 675px;
  height: 588px;
  position: absolute;
  left: 1222px;
  top: -238px;
  object-fit: cover;
}
.rectangle-39 {
  opacity: 0.17;
  width: 1059px;
  height: 588px;
  position: absolute;
  left: 170px;
  top: -238px;
  object-fit: cover;
}
.group-7 {
  position: absolute;
  inset: 0;
}
._10 {
  color: #ffffff;
  text-align: center;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  left: 1084px;
  top: 389px;
  width: 365px;
  height: 38px;
  -webkit-text-stroke: 0.5px #ffffff;
}
.div {
  color: #ffffff;
  text-align: center;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  left: 1066px;
  top: 421px;
  width: 365px;
  height: 38px;
  -webkit-text-stroke: 0.5px #ffffff;
}
.div2 {
  color: #ffffff;
  text-align: center;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  left: 1023px;
  top: 452px;
  width: 508px;
  height: 48px;
  -webkit-text-stroke: 0.5px #ffffff;
}
.div3 {
  color: #ffffff;
  text-align: left;
  font-family: "NotoSansKr-Bold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  position: absolute;
  left: 565px;
  top: 161px;
  width: 325px;
  height: 136px;
  line-height: 25px;
}
.rectangle-40 {
  opacity: 0.35;
  width: 301px;
  height: 695px;
  position: absolute;
  left: 209px;
  top: 332px;
  object-fit: cover;
}
.rectangle-51 {
  width: 301px;
  height: 695px;
  position: absolute;
  left: 879px;
  top: 2831px;
  object-fit: cover;
}
.rectangle-442 {
  opacity: 0.35;
  width: 328px;
  height: 695px;
  position: absolute;
  left: 516px;
  top: 332px;
  object-fit: cover;
}
.rectangle-55 {
  width: 324px;
  height: 687px;
  position: absolute;
  left: 1207px;
  top: 2838px;
  object-fit: cover;
}
.rectangle-36 {
  opacity: 0.6;
  width: 1031px;
  height: 652px;
  position: absolute;
  left: 176px;
  top: 991px;
  object-fit: cover;
}
.rectangle-46 {
  opacity: 0.8;
  width: 727px;
  height: 592px;
  position: absolute;
  left: 156px;
  top: 1644px;
  object-fit: cover;
}
.rectangle-47 {
  opacity: 0.8;
  width: 374px;
  height: 592px;
  position: absolute;
  left: 833px;
  top: 1644px;
  object-fit: cover;
}
.rectangle-48 {
  width: 343px;
  height: 592px;
  position: absolute;
  left: 1209px;
  top: 2267px;
  object-fit: cover;
}
.rectangle-35 {
  width: 194.26px;
  height: 176.27px;
  position: absolute;
  left: 891px;
  top: -1903.51px;
  transform-origin: 0 0;
  transform: rotate(-31.495deg) scale(1, 1);
  object-fit: cover;
}
.rectangle-49 {
  width: 445px;
  height: 661px;
  position: absolute;
  left: 1479px;
  top: 2236px;
  object-fit: cover;
}
.rectangle-50 {
  width: 649px;
  height: 603px;
  position: absolute;
  left: 201px;
  top: 2877px;
  object-fit: cover;
}
.rectangle-53 {
  width: 1029px;
  height: 597px;
  position: absolute;
  left: 177px;
  top: 2262px;
  object-fit: cover;
}
.rectangle-52 {
  opacity: 0.8;
  width: 703px;
  height: 616px;
  position: absolute;
  left: 1209px;
  top: 1644px;
  object-fit: cover;
}
.rectangle-37 {
  opacity: 0.6;
  width: 693px;
  height: 692px;
  position: absolute;
  left: 1206px;
  top: 971px;
  object-fit: cover;
}
.rectangle-34 {
  width: 346px;
  height: 218px;
  position: absolute;
  left: 1358px;
  top: 182px;
  object-fit: cover;
}
.div4 {
  color: #ffffff;
  text-align: center;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 80px;
  font-weight: 400;
  position: absolute;
  left: 325px;
  top: 431px;
  width: 628px;
  height: 277px;
  -webkit-text-stroke: 2px #ffffff;
}
.mz {
  color: #ffffff;
  text-align: center;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: -111px;
  top: 401px;
  width: 1198px;
  height: 277px;
  -webkit-text-stroke: 0.5px #ffffff;
}
.rectangle-33 {
  width: 282.02px;
  height: 178.39px;
  position: absolute;
  left: 427px;
  top: 849.71px;
  transform-origin: 0 0;
  transform: rotate(-14.101deg) scale(1, 1);
  object-fit: cover;
}
.group-6 {
  position: absolute;
  inset: 0;
}
.div5 {
  color: #ffffff;
  text-align: center;
  font-family: "NotoSansKr-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  left: 936px;
  top: 1005px;
  width: 391px;
  height: 75px;
}
.div6 {
  color: #ffffff;
  text-align: left;
  font-family: "NotoSansKr-Bold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  position: absolute;
  left: 1023px;
  top: 1059px;
  width: 325px;
  height: 136px;
  line-height: 25px;
}
.rectangle-4 {
  background: #000000;
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(153, 153, 153, 0) 100%
  );
  border-image-slice: 1;
  width: 2050px;
  height: 1424px;
  position: absolute;
  left: -37px;
  top: 4838px;
}
.rectangle-512 {
  background: #000000;
  width: 2050px;
  height: 2929px;
  position: absolute;
  left: -83px;
  top: 6262px;
}
.group-9 {
  position: absolute;
  inset: 0;
}
.div7 {
  color: #ffffff;
  text-align: center;
  font-family: "NotoSansKr-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  left: 412px;
  top: 7727px;
  width: 459px;
  height: 35px;
}
.div8 {
  color: #ffffff;
  text-align: left;
  font-family: "NotoSansKr-Medium", sans-serif;
  font-size: 18px;
  font-weight: 500;
  position: absolute;
  left: 500.58px;
  top: 7774px;
  width: 332.19px;
  height: 116px;
  line-height: 25px;
}
.group-12 {
  position: absolute;
  inset: 0;
}
.div9 {
  color: #ffffff;
  text-align: center;
  font-family: "NotoSansKr-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  left: 882px;
  top: 8201px;
  width: 510.06px;
  height: 35px;
}
.div10 {
  color: #ffffff;
  text-align: left;
  font-family: "NotoSansKr-Medium", sans-serif;
  font-size: 18px;
  font-weight: 500;
  position: absolute;
  left: 1064.86px;
  top: 8248px;
  width: 369.14px;
  height: 116px;
  line-height: 25px;
}
.group-10 {
  position: absolute;
  inset: 0;
}
.pc {
  color: #ffffff;
  text-align: left;
  font-family: "NotoSansKr-Medium", sans-serif;
  font-size: 18px;
  font-weight: 500;
  position: absolute;
  left: 499.97px;
  top: 8657px;
  width: 347.03px;
  height: 116px;
  line-height: 25px;
}
.div11 {
  color: #ffffff;
  text-align: center;
  font-family: "NotoSansKr-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  left: 452px;
  top: 8612px;
  width: 332.97px;
  height: 45px;
}
.group-11 {
  position: absolute;
  inset: 0;
}
.div12 {
  color: #ffffff;
  text-align: left;
  font-family: "NotoSansKr-Medium", sans-serif;
  font-size: 18px;
  font-weight: 500;
  position: absolute;
  left: 1051.3px;
  top: 7286px;
  width: 365.7px;
  height: 116px;
  line-height: 25px;
}
.div13 {
  color: #ffffff;
  text-align: center;
  font-family: "NotoSansKr-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  left: 969px;
  top: 7241px;
  width: 350.87px;
  height: 45px;
}
.rectangle-322 {
  width: 1957px;
  height: 444px;
  position: absolute;
  left: -37px;
  top: 6476px;
  object-fit: cover;
  opacity: 0.35;
}
.div14 {
  color: #ffffff;
  text-align: center;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 527px;
  top: 6661px;
  width: 865px;
  height: 52px;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
}
.rectangle-61 {
  width: 459px;
  height: 391px;
  position: absolute;
  left: 418px;
  top: 7163px;
  object-fit: cover;
}
.rectangle-62 {
  width: 459px;
  height: 391px;
  position: absolute;
  left: 992px;
  top: 7636px;
  object-fit: cover;
}
.rectangle-65 {
  width: 459px;
  height: 391px;
  position: absolute;
  left: 992px;
  top: 8538px;
  object-fit: cover;
}
.rectangle-64 {
  width: 459px;
  height: 391px;
  position: absolute;
  left: 443px;
  top: 8089px;
  object-fit: cover;
}
.group-5 {
  position: absolute;
  inset: 0;
}
.div15 {
  color: #ffffff;
  text-align: center;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 325.3px;
  top: 5406.36px;
  width: 842.98px;
  height: 112.32px;
  -webkit-text-stroke: 0.20000000298023224px
    linear-gradient(
      180deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(153, 153, 153, 1) 100%
    );
}
.group-4 {
  width: 627.94px;
  height: 179.7px;
  position: static;
}
.rectangle-332 {
  background: #d9d9d9;
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(153, 153, 153, 1) 100%
  );
  border-image-slice: 1;
  opacity: 0.32;
  width: 0.99px;
  height: 627.94px;
  position: absolute;
  left: 1099.81px;
  top: 5321.15px;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
.rectangle-342 {
  background: #d9d9d9;
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(153, 153, 153, 1) 100%
  );
  border-image-slice: 1;
  opacity: 0.32;
  width: 0.99px;
  height: 627.94px;
  position: absolute;
  left: 1099.81px;
  top: 5285.41px;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
.rectangle-352 {
  background: #d9d9d9;
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(153, 153, 153, 1) 100%
  );
  border-image-slice: 1;
  opacity: 0.32;
  width: 0.99px;
  height: 627.94px;
  position: absolute;
  left: 1099.81px;
  top: 5249.66px;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
.rectangle-362 {
  background: #d9d9d9;
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(153, 153, 153, 1) 100%
  );
  border-image-slice: 1;
  opacity: 0.32;
  width: 0.99px;
  height: 627.94px;
  position: absolute;
  left: 1099.81px;
  top: 5213.92px;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
.rectangle-372 {
  background: #d9d9d9;
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(153, 153, 153, 1) 100%
  );
  border-image-slice: 1;
  opacity: 0.32;
  width: 0.99px;
  height: 627.94px;
  position: absolute;
  left: 1099.81px;
  top: 5178.18px;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
.rectangle-382 {
  background: #d9d9d9;
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(153, 153, 153, 1) 100%
  );
  border-image-slice: 1;
  opacity: 0.32;
  width: 0.99px;
  height: 627.94px;
  position: absolute;
  left: 1099.81px;
  top: 5142.44px;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
.rectangle-323 {
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(153, 153, 153, 0) 100%
  );
  border-image-slice: 1;
  width: 905.7px;
  height: 337.78px;
  position: absolute;
  left: 325.3px;
  top: 5042px;
  object-fit: cover;
}
.div16 {
  color: #ffffff;
  text-align: center;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 350.85px;
  top: 5071.34px;
  width: 264.3px;
  height: 26.65px;
  -webkit-text-stroke: 0.5px
    linear-gradient(
      180deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(153, 153, 153, 1) 100%
    );
}
.group-13 {
  position: absolute;
  inset: 0;
}
.div17 {
  color: #ffffff;
  text-align: center;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 606.73px;
  top: 5661.52px;
  width: 740.6px;
  height: 81.94px;
}
._4-6 {
  color: #ffffff;
  text-align: center;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 13px;
  font-weight: 400;
  position: absolute;
  left: 534px;
  top: 5680.8px;
  width: 740.6px;
  height: 81.94px;
}
.div18 {
  color: #ffffff;
  text-align: center;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 590.51px;
  top: 5622.07px;
  width: 675.05px;
  height: 40.58px;
  -webkit-text-stroke: 0.5px #ffffff;
}
.rectangle-402 {
  background: #466fe5;
  width: 35.9px;
  height: 28.88px;
  position: absolute;
  left: 1546.09px;
  top: 5943.01px;
}
.rectangle-412 {
  background: #9df4f2;
  width: 35.9px;
  height: 28.88px;
  position: absolute;
  left: 1546.09px;
  top: 5897.75px;
}
.div19 {
  color: #ffffff;
  text-align: center;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 13px;
  font-weight: 400;
  position: absolute;
  left: 1568.72px;
  top: 5903.21px;
  width: 94.43px;
  height: 17.95px;
  -webkit-text-stroke: 1px #191919;
}
.div20 {
  color: #ffffff;
  text-align: center;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 13px;
  font-weight: 400;
  position: absolute;
  left: 1581.99px;
  top: 5948.48px;
  width: 94.43px;
  height: 17.95px;
  -webkit-text-stroke: 1px #191919;
}
.group-8 {
  width: 643.83px;
  height: 231.78px;
  position: static;
}
.rectangle-42 {
  background: #d9d9d9;
  opacity: 0.32;
  width: 643.83px;
  height: 1.51px;
  position: absolute;
  left: 857.77px;
  top: 5913.05px;
}
.rectangle-443 {
  background: #d9d9d9;
  opacity: 0.32;
  width: 643.83px;
  height: 1.51px;
  position: absolute;
  left: 857.77px;
  top: 5885.12px;
}
.rectangle-453 {
  background: #d9d9d9;
  opacity: 0.32;
  width: 643.83px;
  height: 1.51px;
  position: absolute;
  left: 857.77px;
  top: 5855.67px;
}
.rectangle-462 {
  background: #d9d9d9;
  opacity: 0.32;
  width: 643.83px;
  height: 1.51px;
  position: absolute;
  left: 857.77px;
  top: 5827.74px;
}
.rectangle-472 {
  background: #d9d9d9;
  opacity: 0.32;
  width: 643.83px;
  height: 1.51px;
  position: absolute;
  left: 857.77px;
  top: 5799.05px;
}
.rectangle-482 {
  background: #d9d9d9;
  opacity: 0.32;
  width: 643.83px;
  height: 1.51px;
  position: absolute;
  left: 857.77px;
  top: 5770.36px;
}
.rectangle-492 {
  background: #d9d9d9;
  opacity: 0.32;
  width: 643.83px;
  height: 1.51px;
  position: absolute;
  left: 857.77px;
  top: 5741.67px;
}
.rectangle-432 {
  background: #d9d9d9;
  opacity: 0.32;
  width: 643.83px;
  height: 1.51px;
  position: absolute;
  left: 857.77px;
  top: 5942.5px;
}
.rectangle-502 {
  background: #d9d9d9;
  opacity: 0.32;
  width: 643.83px;
  height: 1.51px;
  position: absolute;
  left: 857.77px;
  top: 5971.94px;
}
.rectangle-392 {
  width: 860.01px;
  height: 462px;
  position: absolute;
  left: 751.64px;
  top: 5609px;
  object-fit: cover;
}
.rectangle-66 {
  width: 944px;
  height: 376px;
  position: absolute;
  left: -145px;
  top: 5622px;
  object-fit: cover;
  opacity: 0.35;
}
.rectangle-67 {
  width: 831px;
  height: 376px;
  position: absolute;
  left: 1192px;
  top: 5042px;
  object-fit: cover;
  opacity: 0.35;
}
.div21 {
  color: #ffffff;
  text-align: center;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 122px;
  top: 5678px;
  width: 865px;
  height: 52px;
  -webkit-text-stroke: 0.5px #ffffff;
}
.div22 {
  color: #ffffff;
  text-align: center;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 378px;
  top: 5779px;
  width: 353px;
  height: 185px;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0);
  line-height: 25px;
}
.div23 {
  color: #ffffff;
  text-align: center;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 1251px;
  top: 5136px;
  width: 353px;
  height: 185px;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0);
  line-height: 25px;
}
._40-1 {
  color: #ffffff;
  text-align: center;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 48px;
  font-weight: 400;
  position: absolute;
  left: 208px;
  top: 5702px;
  width: 693px;
  height: 252px;
  -webkit-text-stroke: 1px #ffffff;
}
.rectangle-513 {
  width: 2050px;
  height: 1113px;
  position: absolute;
  left: -17px;
  top: 9135px;
  object-fit: cover;
  opacity: 0.35;
}
.rectangle-68 {
  background: #ffffff;
  border-radius: 20px;
  width: 297px;
  height: 434px;
  position: absolute;
  left: 222px;
  top: 9492px;
}
.rectangle-70 {
  background: #ffffff;
  border-radius: 20px;
  width: 297px;
  height: 434px;
  position: absolute;
  left: 615px;
  top: 9492px;
}
.rectangle-72 {
  background: #ffffff;
  border-radius: 20px;
  width: 297px;
  height: 434px;
  position: absolute;
  left: 1008px;
  top: 9492px;
}
.rectangle-74 {
  background: #ffffff;
  border-radius: 20px;
  width: 297px;
  height: 434px;
  position: absolute;
  left: 1401px;
  top: 9492px;
}
.rectangle-69 {
  background: #ff7e7e;
  border-radius: 15px;
  width: 297px;
  height: 76px;
  position: absolute;
  left: 222px;
  top: 9461px;
}
.rectangle-71 {
  background: #ff7e7e;
  border-radius: 15px;
  width: 297px;
  height: 76px;
  position: absolute;
  left: 615px;
  top: 9461px;
}
.rectangle-73 {
  background: #ff7e7e;
  border-radius: 15px;
  width: 297px;
  height: 76px;
  position: absolute;
  left: 1008px;
  top: 9461px;
}
.rectangle-75 {
  background: #ff7e7e;
  border-radius: 15px;
  width: 297px;
  height: 76px;
  position: absolute;
  left: 1401px;
  top: 9461px;
}
.vector-3 {
  width: 29px;
  height: 58px;
  position: absolute;
  left: 551.5px;
  top: 9692px;
  overflow: visible;
}
.vector-4 {
  width: 29px;
  height: 58px;
  position: absolute;
  left: 945px;
  top: 9692px;
  overflow: visible;
}
.vector-5 {
  width: 29px;
  height: 58px;
  position: absolute;
  left: 1338.5px;
  top: 9692px;
  overflow: visible;
}
.r {
  color: #ffffff;
  text-align: center;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 253px;
  top: 9472px;
  width: 251px;
  height: 52px;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
}
.problem-recognition {
  text-align: center;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 236px;
  top: 9550px;
  width: 283px;
  height: 121px;
}
.problem-recognition-span {
  color: #191919;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.problem-recognition-span2 {
  color: #ff7e7e;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.problem-recognition-span3 {
  color: #191919;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.state-check {
  text-align: center;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 667px;
  top: 9550px;
  width: 217px;
  height: 121px;
}
.state-check-span {
  color: #191919;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.state-check-span2 {
  color: #ff7e7e;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.state-check-span3 {
  color: #191919;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.suggest-an-altemative {
  text-align: center;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 1023px;
  top: 9550px;
  width: 283px;
  height: 121px;
}
.suggest-an-altemative-span {
  color: #191919;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.suggest-an-altemative-span2 {
  color: #ff7e7e;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.suggest-an-altemative-span3 {
  color: #191919;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.connect {
  text-align: center;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 1436px;
  top: 9550px;
  width: 242px;
  height: 121px;
}
.connect-span {
  color: #191919;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.connect-span2 {
  color: #ff7e7e;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.connect-span3 {
  color: #191919;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.e {
  color: #ffffff;
  text-align: center;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 650px;
  top: 9472px;
  width: 251px;
  height: 52px;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
}
.s {
  color: #ffffff;
  text-align: center;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 1039px;
  top: 9472px;
  width: 251px;
  height: 52px;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
}
.t {
  color: #ffffff;
  text-align: center;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 1431px;
  top: 9472px;
  width: 251px;
  height: 52px;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
}
.div24 {
  color: #191919;
  text-align: center;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 236px;
  top: 9673px;
  width: 283px;
  height: 121px;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0);
}
.div25 {
  color: #191919;
  text-align: center;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 650px;
  top: 9673px;
  width: 244px;
  height: 185px;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0);
}
.div26 {
  color: #191919;
  text-align: center;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 1039px;
  top: 9673px;
  width: 251px;
  height: 185px;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0);
}
.eye-contact {
  color: #191919;
  text-align: center;
  font-family: "NotoSansKr-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 1432px;
  top: 9671px;
  width: 251px;
  height: 165px;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0);
}
